<header class="masthead-background HQE-background">
  <div class="sid3car-logo"><img/></div>
  <nav class="top-bar HQE-background" >
    <div class="top-bar-right">
      <ul class="menu top-menu" id="desktopMenu">
        <li><%= link_to 'About', '#', class: 'inverse' %></li>
        <li><%= link_to 'Home', root_path, class: 'inverse' %></li>
        <li><%= link_to 'Cowork', '#', class: 'inverse' %></li>
        <li><%= link_to 'Decal', '#', class: 'inverse' %></li>
        <li><%= link_to 'Contact', inquiries_path, class: 'HQE-background subpage-contact' %></li>
      </ul>
    </div>
    <div class='menu-icon hide' id='hamburger'><i>Menu</i></div>
    <div class="mobile-menu hide" id="mobileMenu">
      <div class="mobile-logo"><img src=""/></div>
      <aside class="exit" id="exit"><span>X<span></aside>
      <ul>
        <li><%= link_to 'About', '#', class: 'inverse' %></li>
        <li><%= link_to 'Home', root_path, class: 'inverse' %></li>
        <li><%= link_to 'Cowork', '#', class: 'inverse' %></li>
        <li><%= link_to 'Decal', '#', class: 'inverse' %></li>
        <li><%= link_to 'Contact', inquiries_path, class: 'inverse' %></li>
      </ul>
    </div>
  </nav>
  <div class="clearfix"></div>
  <section class="intro">
    <hgroup>
      <h1>Hoosiers for Quality Education</h1>
      <div><a href="#" class="white-link">Visit website<span>&#866</span></a></div>
    </hgroup>
    <p>XOXO tilde irony Kickstarter, McSweeney's Intelligentsia keytar
      distillery. Direct trade farm-to-table asymmetrical synth mixtape.
      Photo booth sartorial bitters Austin banh mi. Kickstarter try-hard
      ethical Odd Future Intelligentsia wayfarers cardigan 90's lumbersexual.
      8-bit Truffaut Schlitz tilde, kogi bitters skateboard fixie tofu
      farm-to-table food truck deep v lumbersexual. Readymade brunch scenester
      cred flannel. Single-origin coffee slow-carb migas, Williamsburg
      biodiesel direct trade freegan. </p>

  </section>
</header>
<section class="case_content">
  <p>Freegan distillery 90's, art party church-key High Life Wes Anderson
    beard YOLO Tumblr ennui. Typewriter cred sustainable letterpress.
    Actually plaid Carles, quinoa pop-up yr listicle keytar 90's Portland
    street art narwhal. Cray Echo Park Neutra meggings Carles sriracha
    artisan, meditation ugh Williamsburg. Before they sold out Tumblr
    freegan, narwhal McSweeney's sriracha squid viral selvage brunch
    bespoke four loko 3 wolf moon. Lomo semiotics kogi, single-origin
    coffee Thundercats messenger bag gentrify XOXO chambray cardigan shabby
    chic mustache quinoa keffiyeh synth. Swag bitters Neutra photo booth vegan.
    Twee Truffaut listicle Neutra. VHS quinoa twee ethical listicle Odd
    Future, occupy flexitarian wolf mustache.</p>
</section>
<section class="case_display">
  <%= image_tag 'case_graph.png', alt: 'graph' %>
</section>
<section class="case_content">
  <p>Forage organic letterpress Pinterest. Kogi organic Schlitz before they
    sold out, biodiesel American Apparel dreamcatcher gentrify Thundercats.
    Mumblecore 3 wolf moon seitan Helvetica, squid freegan swag skateboard
    heirloom. Tilde synth food truck, ethical Blue Bottle crucifix small batch
    meggings dreamcatcher brunch seitan. Lo-fi narwhal Truffaut kogi, artisan
    irony pork belly pickled XOXO dreamcatcher twee polaroid Odd Future art
    party. Freegan distillery 90's, art party church-key High Life Wes Anderson
    beard YOLO Tumblr ennui. Typewriter cred sustainable letterpress.</p>
  <p>Actually plaid Carles, quinoa pop-up yr listicle keytar 90's Portland
    street art narwhal. Cray Echo Park Neutra meggings Carles sriracha
    artisan, meditation ugh Williamsburg. Before they sold out Tumblr freegan,
    narwhal McSweeney's sriracha squid viral selvage brunch bespoke four loko
    3 wolf moon. Lomo semiotics kogi, single-origin coffee Thundercats
    messenger bag gentrify XOXO chambray cardigan shabby chic mustache quinoa
    keffiyeh synth. Swag bitters Neutra photo booth vegan. Twee Truffaut
    listicle Neutra. VHS quinoa twee ethical listicle Odd Future, occupy
    flexitarian wolf mustache.</p>
</section>
<section class="metrics-container">
  <div>
    <h4>Before 2013</h4>
    <ul>
      <li>0 Actions</li>
      <li>8 Emails</li>
      <li>29 Tweets</li>
    </ul>
  </div>
  <div>
    <h4>After 2013</h4>
    <ul>
      <li>1,024 Actions</li>
      <li>850 Emails</li>
      <li>629 Tweets</li>
    </ul>
  </div>
</section>
<section class="start flex-center">
  <p><a href="#" class="button">Start your project</a></p>
</section>
<footer>
  <ul class="menu small-12 large-6 columns">
    <li>About</li>
    <li>Portfolio</li>
    <li>Cowork</li>
    <li>Contact</li>
  </ul>
  <p class="align-right small-12 large-6 columns">
    Made with <i class="em em-heart"></i> in <a href="#" class="to-link">Bloomington, IN</a>
  </p>
</footer>
