<header class="masthead-background">
  <nav class="top-bar">
    <div class="top-bar-right">
      <ul class="menu top-menu">
        <li><%= link_to 'About', '#', class: 'inverse' %></li>
        <li><%= link_to 'Portfolio', '#', class: 'inverse' %></li>
        <li><%= link_to 'Cowork', '#', class: 'inverse' %></li>
        <li><%= link_to 'Decal', '#', class: 'inverse' %></li>
        <li><%= link_to 'Contact', inquiries_path, class: 'inverse' %></li>
      </ul>
    </div>
  </nav>
  <div class="statement">
    <p>We make <span>custom software</span> for subject matter experts.</p>
  </div>
  <div class="cta">
    <ul class="dropdown menu flex-center top-menu" data-responsive-menu>
      <li class="border-white">
        <a href="#" class="inverse">my business</a>
        <ul class="menu vertical top-menu">
          <li><a href='#' class="inverse">One</a></li>
          <li><a href='#' class="inverse">One</a></li>
          <li><a href='#' class="inverse">One</a></li>
        </ul>
      </li>
      <li class="border-white">
        <a href="#" class="inverse">needs a new</a>
        <ul class="menu vertical top-menu">
          <li><a href='#' class="inverse">One</a></li>
          <li><a href='#' class="inverse">One</a></li>
          <li><a href='#' class="inverse">One</a></li>
        </ul>
      </li>
      <li class="border-white">
        <a href="#" class="inverse">web application</a>
        <ul class="menu vertical top-menu">
          <li><a href='#' class="inverse">One</a></li>
          <li><a href='#' class="inverse">One</a></li>
          <li><a href='#' class="inverse">One</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="button orange">Get started</a>
      </li>
    </ul>
  </div>
</header>
<section class="flex-center msg">
  <p>Since 2012, we've helped startups, non-profits, and small businesses solve
  problems (or enhance current solutions) with technology.</p>
</section>
<section class="fuel">
  <article>
    <h2>Fuel for your fire.</h2>
    <p>We’re a small team of designers, developers and product strategists
      passionate about building and scaling organization-altering software.
      Just this year, our products have helped clients attract nearly 200,000
      unique visitors and over $1 million dollars in new revenue.</p>
    <p><a href="#" class="to-link">View case study <span>&#866</span></a></p>
  </article>
</section>
<section class="work-preview">
  <article class="row">
    <div class="small-12 large-4 columns">
      <ul>
        <li class="feature-work">
          <h3>Institute for Quality Education</h3>
          <h6>EDUCATION</h6>

          <p>Use the Hoosiers for Quality Education’s political Action Center
            to research regional policies and motivate local legislators. </p>
          <a href='#' class="button">View case study</a>
        </li>
        <li>
          <h3>Adproval</h3>
          <h6>NON-PROFIT</h6>

          <p>helped Adproval bring its new and improved internet advertising
            software to market quickly and without hickup.</p>
        </li>
        <li>
          <h3>The Venture Game</h3>
          <h6>NON-PROFIT</h6>

          <p>Sid3car built software to help educators at the Kelley School of
            Business administor a six week venture stimulation. </p>
        </li>
        <li class="feature-work">
          <h3>Plus Time</h3>
          <h6>EDUCATION</h6>

          <p>Flex scheduling software for middle and high school enrichment
             programs. </p>
          <a href='#' class="button">View case study</a>
        </li>
        <li>
          <h3>Mensani</h3>
          <h6>ATHLETIC TRAINING</h6>

          <p>Use the Hoosiers for Quality Education’s political Action
            Center to research regional policies and motivate local
            legislators. </p>
        </li>
      </ul>
    </div>
    <div class="small-12 large-4 columns">
      <ul>
        <li>
          <h3>Hoosiers for Quality Education</h3>
          <h6>EDUCATION</h6>

          <p>Use the Hoosiers for Quality Education’s political Action
            Center to research regional policies and motivate local
            legislators. </p>
        </li>
        <li>
          <h3>Hydrating Humanity</h3>
          <h6>NON-PROFIT</h6>

          <p>A custom crowdraising platform for the Carolinas’ leading
            clean water non-profit increased donations by 40%.  </p>
        </li>
        <li class="feature-work">
          <h3>StoreOptics/h3>
          <h6>FOOD SERVICE</h6>

          <p>Mobile field service management for retail stores and
            their vendors.  </p>
          <a href='#' class="button">View case study</a>
        </li>
        <li>
          <h3>RideAmigos</h3>
          <h6>NON-PROFIT</h6>

          <p>Provisional development help allowed RideAmigos to ship their
            Multi-Modal Trip Planner on time and on budget. </p>
        </li>
        <li>
          <h3>Hoosiers for Quality Education</h3>
          <h6>EDUCATION</h6>

          <p>Use the Hoosiers for Quality Education’s political Action Center
             to research regional policies and motivate local legislators. </p>
        </li>
      </ul>
    </div>
    <div class="small-12 large-4 columns">
      <ul>
        <li class="feature-work">
          <h3>LaunchPad</h3>
          <h6>REAL ESTATE</h6>

          <p>Apartment management software for forward-thinking landlords. </p>
          <a href='#' class="button">View case study</a>
        </li>
        <li>
          <h3>The Switchboard</h3>
          <h6>EDUCATION</h6>

          <p>The Switchboard helps stimulate the regional economy by helping
            Bloomington entreprenuers find and connect with local
            service providers. </p>
        </li>
        <li class="feature-work">
          <h3>Sound Mind Investments</h3>
          <h6>FINANCIAL SERVICES</h6>

          <p>Track direct share balances, forcast portfolio growth,
            and plan for retirement with Sound Mind Investment’s
            Stewardship Planner. </p>
          <a href='#' class="button">View case study</a>
        </li>
        <li>
          <h3>39&deg North</h3>
          <h6>NON-PROFIT</h6>

          <p>Provisional development help allowed RideAmigos to ship their
            Multi-Modal Trip Planner on time and on budget. </p>
        </li>
        <li>
          <h3>State Innovation Exchange</h3>
          <h6>NON-PROFIT</h6>

          <p>Provisional development help allowed RideAmigos to ship
            their Multi-Modal Trip Planner on time and on budget. </p>
        </li>
      </ul>
    </div>
  </article>
</section>
<section class="lean">
  <div>
    <h2>Unaplogetically Lean</h2>
    <p>We’re proud to offer world-class service from an affordable
      city and our very own <a href="#" class="to-link">coworking space</a>.
      Low overhead means eliminating typical agency inefficiencies
      to complete your project quickly and less expensively. </p>
    <p><a href="#" class="to-link meet-link">Meet Sid3car<span>&#866</span></a></p>
  </div>
</section>
<section class="testimonial">
  <div>
    <p>Sid3car delivered San Fransisco-style software without any of the
      traditional agency headache. We’ll be back!</p>
      <br />
    <p>Mathew Anderson | Adproval</p>
  </div>
</section>
<section class="start flex-center">
  <p><a href="#" class="button">Start your project</a></p>
</section>
<footer>
  <ul class="menu small-12 large-6 columns">
    <li>About</li>
    <li>Portfolio</li>
    <li>Cowork</li>
    <li>Contact</li>
  </ul>
  <p class="align-right small-12 large-6 columns">
    Made with <i class="em em-heart"></i> in <a href="#" class="to-link">Bloomington, IN</a>
  </p>
</footer>
