<header class="masthead-background">
  <nav class="top-bar">
    <div class="top-bar-right">
      <ul class="menu">
        <li><%= link_to 'About', '#', class: 'inverse' %></li>
        <li><%= link_to 'Portfolio', '#', class: 'inverse' %></li>
        <li><%= link_to 'Cowork', '#', class: 'inverse' %></li>
        <li><%= link_to 'Decal', '#', class: 'inverse' %></li>
        <li><%= link_to 'Contact', inquiries_path, class: 'inverse' %></li>
      </ul>
    </div>
  </nav>
  <div class="statement">
    <p>We make <span>custom software</span> for subject matter experts.</p>
  </div>
  <div class="cta">
    <ul class="dropdown menu flex-center" data-dropdown-menu>
      <li class="border-white">
        <a href="#" class="inverse">my business</a>
        <ul class="menu vertical">
          <li><a href='#' class="inverse">One</a></li>
          <li><a href='#' class="inverse">One</a></li>
          <li><a href='#' class="inverse">One</a></li>
        </ul>
      </li>
      <li class="border-white">
        <a href="#" class="inverse">needs a new</a>
        <ul class="menu vertical">
          <li><a href='#' class="inverse">One</a></li>
          <li><a href='#' class="inverse">One</a></li>
          <li><a href='#' class="inverse">One</a></li>
        </ul>
      </li>
      <li class="border-white">
        <a href="#" class="inverse">web application</a>
        <ul class="menu vertical">
          <li><a href='#' class="inverse">One</a></li>
          <li><a href='#' class="inverse">One</a></li>
          <li><a href='#' class="inverse">One</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="button orange">Get started</a>
      </li>
    </ul>
  </div>
</header>
<section class="flex-center msg">
  <p>Since 2012, we've helped startups, non-profits, and small businesses solve
  problems (or enhance current solutions) with technology.</p>
</section>
<section class="fuel">
  <article>
    <h2>Fuel for your fire.</h2>
    <p>We’re a small team of designers, developers and product strategists
      passionate about building and scaling organization-altering software.
      Just this year, our products have helped clients attract nearly 200,000
      unique visitors and over $1 million dollars in new revenue.</p>
    <p><a href="#">View case study <span class="to-arrow">&#866</span></a></p>
  </article>
</section>
