<div class="form-container">
  <hgroup class="form-header">
    <%= link_to "Back", root_path, class: 'back' %>
    <h3 class="center">Send Us a Message</h3>
  </hgroup>
  <div class="flex-center">
    <div class="large-6 small-10 column">
      <!-- validation error -->
      <div class="alert row small-6 column">
        <%= flash[:error] %>
      </div>

      <%= form_for @inquiry do |f| %>
      <fieldset>
        <div class="row small-6 column">
          <%= f.text_field :name, placeholder: "Name" %>
        </div>

        <div class="row small-6 column">
          <%= f.email_field :email, placeholder: "Email"%>
        </div>

        <div class="row small-6 column">
          <%= f.text_area :message, placeholder: "Message"%>
        </div>
      </fieldset>

      <fieldset>
        <div>
          <%= f.submit "Send", class: "button" %>
        </div>
      </fieldset>
    <% end %>
    </div>
  </div>
</div>
