<div class="">
  <%= link_to "Back", root_path, class: 'back' %>
  <h3>Send Us a Message</h3>
  <div class="alert">
    <%= flash[:error] %>
  </div>

  <%= form_for @inquiry do |f| %>
  <fieldset>
    <div class="">
      <%= f.text_field :name, placeholder: "Name" %>
    </div>

    <div class="">
      <%= f.email_field :email, placeholder: "Email"%>
    </div>

    <div class="">
      <%= f.text_area :message, placeholder: "Message"%>
    </div>
  </fieldset>

  <fieldset>
    <div class="">
      <%= f.submit "Send" %>
    </div>
  </fieldset>
<% end %>
</div>
